@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{

    box-sizing: border-box;
    /* border: 1px black solid; */
    /* color: #fff; */
}


:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}


body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}



header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
}


.logo{
   color: #fff;
}
.navidation{
    list-style: none;
    font-size: 100%;
    color: #fff;
    display: flex;
    /* border: 1px solid black; */
}

a {
    font-size: 120%;
    color: #fff;
    list-style: none;
    text-decoration: none;
}

a:hover{
    color: gray;
    cursor: pointer;
}


.navidation-tab{
    font-size: 18px;
    list-style: none;
    margin-top: 0;
    letter-spacing: 0.5px;
    margin-left: 20px;
}


.navidation-tab:hover{
    color: gray;
    cursor: pointer;
    
}


.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}


/* 點擊搜尋欄位變色 */
.search:focus{
    outline: 0;
    background-color: var(--primary-color);
}

.search::placeholder{
    color: #fff;
}







main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}






.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgb(0,0,0,0.1);
    /* 讓卡片突現 */
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}




.movie img{
    width: 100%;
}


.movieInfo{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movieInfo h3{
    margin-top: 0;
}

.movieInfo p{
    border: 1px solid black;
}


.movieInfo span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie .date{
    color: #fff;
    padding: 1rem 1rem;
    letter-spacing: 0.5px;
}

/* 評分顏色 */


.movieInfo span.green{
    color: green;
}


.movieInfo span.orange{
    color: orange;
}


.movieInfo span.red{
    color: red;
}



/* 內文介紹隱藏 */
.overView{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.5s ease-in-out;
}


/* 內文介紹秀出來 */

.movie:hover .overView{
    transform: translateY(0);
    
}


/* 我的最愛 */

  
 
/* 電影標籤 */

#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: white;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}


.tag.highlight{
    background-color: red;
}

.no-results{
    color: white;
}